<html>
    <head>news</head>
    <body>
        <table>
            <th>
                <td>id</td>
                <td>title</td>
                <td>author</td>
                <td>time</td>
                <td>id</td>
            </th>
            <tr>
                <td>id</td>
                <td>title</td>
                <td>author</td>
                <td>time</td>
                <td>id</td>
            </tr>
        </table>
    </body>
</html>