<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-1.9.1.min.js"></script>
    <script src="/javascripts/jquery.json-2.4.js"></script>
    <script src="/javascripts/movie.js"></script>
    <script src="/javascripts/login.js"></script>
  </body>
</html>